[Unit]
Description=Runners to orchestrate a high-availability PostgreSQL
After=syslog.target network.target

[Service]
Type=simple

User={{ postgresql_patroni_postgresql_remote_user }}
Group={{ postgresql_patroni_postgresql_remote_user }}

ExecStart={{ postgresql_patroni_python_venv_path }}/bin/patroni {{ postgresql_patroni_patroni_config_path }}
KillMode=process
TimeoutSec=30
Restart=no

[Install]
WantedBy=multi-user.target